
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <%= link_to 'Pinterested', root_path, class: 'navbar-brand' %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
    </ul>


    <form class="form-inline my-2 my-lg-0">

      
          <%= link_to 'Home', root_path %> &ensp; 
          | &ensp; 
          <%= link_to 'About Us', home_about_path %> &ensp;  
          |  &ensp; 

      <% if user_signed_in? %>

          <%= link_to 'Add Pin', new_pin_path %> &ensp;  
          |  &ensp;
          <%= link_to 'List Pins', pins_path %> &ensp;  
          |  &ensp;
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %> &ensp;  
          |  &ensp;
          <%= link_to 'Edit Profile', edit_user_registration_path, method: :delete %> &ensp;  
          |  &ensp;

      <% else %>

          <%= link_to "Login", new_user_session_path %>  &ensp; 
          |  &ensp; 
          <%= link_to "Join", new_user_registration_path %>

      <% end %>
    

    </form>


  </div>
</nav>






       
      



















              
          



          




